header {
  position: fixed;
  background-color: white;
  padding: 0px;
  outline: auto;
  top: 0;
  width: 100%;
}
body {
  margin: 0;
}
.smal {
  height: 30px;
  width: 30px;
  margin-right: 2px;
}
div {
  display: flex;
  justify-content: space-between;
}


#title {
  text-align: center;
  background-color: black;
  color: white;
 margin-bottom: 20px;
  height: 50px;
  padding: 20px;
  width: 100%;
margin: 0;
}
#the {

  margin-top: 30px;
  height: 800px;
}
.sall {
  width: 50%;
  height: 500px;
  position: absolute;
}
#blac{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.abs{
  position: relative;
  bottom: 30px;
  left: 20px;
}
#salls{
  display: flex;
  justify-content: center;
}
.smal{
  display: flex;
  justify-content:end ;
}

