body {
  margin: 0;
}
html {
  background-color: black;
  /* z-index: 1; */
}
#taint {
  position: absolute;
  height: 300px;
  width: 100vw;
}
#tainter {
  position: relative;
  left: 0px;
  bottom: 310px;
}
#nigafood {
  width: 400px;
  height: 200px;
}
#realrnigger {
  width: 100vw;
  height: 300px;
}
