h1{
    margin: 0; background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,150,1) 60%, rgba(0,212,255,1) 100%); color: white;
    text-align: center;
     padding: 40px;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}
body{
    margin: 0;
    margin-top: 130px;
}
.yee{
text-align: center;
background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,150,1) 60%, rgba(0,212,255,1) 100%); color: white;
    margin: 0;
 
}
#price{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,116,136,0.6615021008403361) 51%, rgba(223,223,228,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    height: 70px;
    text-align: center;
    font-size: xx-large;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.two{
    text-align: center;
    color: white;
  background-color: black;
  font-size: medium; 
  padding: 10px;
  width: 100%;
  margin: 0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
    
}
div a{color: white;
text-decoration: none;
padding: 10px;}
#y{
    margin: 0px;
    height: 600px;
    margin: 0; background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,150,1) 60%, rgba(0,212,255,1) 100%); color: white;
   
}
.one{
width: 100%;
background-color: black;
text-align: center;
}